@import "base.css";
html,
body {
  width: 100%;
  height: 100%;
}
.category-content {
  width: 100%;
  height: 100%;
  padding-top: 44px;
  padding-bottom: 50px;
}
.category-content .category-left {
  width: 80px;
  height: 100%;
  float: left;
  text-align: center;
  position: relative;
}
.category-content .category-left .mui-scroll li {
  line-height: 45px;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid #666;
}
.category-content .category-left .mui-scroll li a {
  display: block;
  color: #666;
}
.category-content .category-left .mui-scroll li.active {
  background-color: red;
}
.category-content .category-right {
  position: relative;
  margin-left: 90px;
  height: 100%;
}
.category-content .category-right .mui-scroll {
  margin-top: 10px;
}
.category-content .category-right .mui-scroll li {
  float: left;
  background-color: #fff;
  width: 33%;
}
.category-content .category-right .mui-scroll li a {
  width: 100%;
}
.category-content .category-right .mui-scroll li a img {
  display: block;
  width: 100%;
}
.category-content .category-right .mui-scroll li a p {
  text-align: center;
}
