* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.mui-bar-nav {
  background-color: #006699;
}
.mui-bar-nav .mui-title {
  color: #fff;
}
.mui-bar-nav .fa-search {
  color: #fff;
}
.mui-bar-tab {
  background-color: #006699;
}
.mui-bar-tab .mui-tab-item {
  color: #fff;
}
.mui-bar-tab .mui-tab-item.mui-active {
  color: darkgoldenrod;
}
.mui-content {
  padding-bottom: 50px;
  background-color: #f6f6f6;
}
.mui-content .nav-list {
  overflow: hidden;
  padding: 10px;
}
.mui-content .nav-list ul li {
  width: 33%;
  float: left;
}
.mui-content .nav-list ul li a {
  width: 100%;
}
.mui-content .nav-list ul li a img {
  display: block;
  width: 100%;
}
.mui-content .brand {
  width: 100%;
  padding: 10px;
}
.mui-content .brand .brand-title {
  width: 100%;
}
.mui-content .brand .brand-title img {
  width: 100%;
}
.mui-content .brand ul {
  overflow: hidden;
  width: 100%;
}
.mui-content .brand ul li {
  width: 25%;
  float: left;
}
.mui-content .brand ul li a {
  width: 100%;
}
.mui-content .brand ul li a img {
  display: block;
  width: 100%;
}
.mui-content .exercise {
  background-color: #fff;
  width: 100%;
  padding: 10px;
}
.mui-content .exercise .exercise-title {
  width: 100%;
}
.mui-content .exercise .exercise-title img {
  width: 100%;
}
.mui-content .exercise > ul {
  width: 100%;
}
.mui-content .exercise > ul > li {
  background-color: #fff;
  float: left;
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
}
.mui-content .exercise > ul > li > a {
  display: block;
  box-shadow: 0 0 5px #ccc;
  width: 100%;
  overflow: hidden;
  padding: 0 5px;
  text-align: center;
}
.mui-content .exercise > ul > li > a > img {
  display: block;
  width: 100%;
}
.mui-content .exercise > ul > li > a > span {
  display: block;
  margin: 0 auto ;
  width: 100%;
  font-size: 14px;
  color: #666;
  text-align: center;
}
.mui-content .exercise > ul > li > a > p > span {
  color: #ff3300;
}
.mui-content .exercise > ul > li > a > p > del {
  color: #ccc;
}
.mui-content .exercise > ul > li > a > .btn {
  display: block;
  width: 80px;
  line-height: 20px ;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #006699;
}
.mui-content .exercise > ul img {
  width: 100%;
  padding: 10px 0;
}
